body {
    background: white url("images/background.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -5%;
}

li a {
    color: green;
}